.banner {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  height: 7em;
  width:100%
}

.header {
  grid-column-start: 1;
  grid-column-end: 2;
}

.menubutton {
  grid-column-start: 2;
  grid-column-end: 3;
}